* {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
body,html{
	font-family: 'Roboto', sans-serif;
	background-color: #ecdddc;
	color: #505f71;
}
#home {
	width: 100%;
	min-height: 100vh;
}
.conteudo{
	padding-top: 20vh;
	padding-bottom: 5%;
}
.logo{
	margin-bottom: 5%;
}
.logo img{
	position: relative;
	left: 50%;
	transform: translate(-50%);
	width: 25%;
}
.menu{
	text-align: center;
}
.menu a, a:visited {
	text-decoration: none;
	color: #505f71;
}
.menu a:hover{
	color: #5f7187;
}
.menu span {
	padding-left: 10px;
	padding-right: 10px;
}
.seta{
	position: absolute;
	display: inline-block;
	width: 50px;
	bottom: 5px;
	left: 50%;
	transform: translate(-50%);
}
.ceoHack {
	display: none;	
}
.trinta-um{
	font-size: calc(0.4464285714285714vw + 15.571428571428571px);
}
.vinte-oito{
	font-size: calc(0.4464285714285714vw + 12.571428571428571px);
}
.vinte{
	font-size: calc(0.4464285714285714vw + 12.571428571428571px);
}
@media (min-width: 768px) {
	.trinta-um{
		font-size: calc(0.6756756756756757vw + 13.81081081081081px);
	}
	.vinte-oito{
		font-size: calc(0.6756756756756757vw + 10.81081081081081px);
	}
	.vinte{
		font-size: calc(0.33783783783783783vw + 13.405405405405405px);
	}
}
@media (min-width: 1360px) {
	.trinta-um{
		font-size: calc(1.4285714285714286vw + 3.5714285714285716px);
	}
	.vinte-oito{
		font-size: calc(1.4285714285714286vw + 0.5714285714285714px);
	}
	.vinte{
		font-size: calc(0.35714285714285715vw + 13.142857142857142px);
	}
}
@media (min-width: 1920px) {
	.trinta-um{
		font-size: 31px;
	}
	.vinte-oito{
		font-size: 28px;
	}
	.vinte{
		font-size: 20px;
	}
	.conteudo{
		padding-top: 20vh;
	}
}
@media (orientation: portrait) {
	.conteudo{
		padding-top: 30vh;
	}
	.logo img {
		width: 50%;
	}
}